* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1e3a8a;
    color: #fff;
}

.menu a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* BANNER */
.banner {
    background-color: #2563eb;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

/* DESTACADOS */
.destacados {
    padding: 40px 20px;
    text-align: center;
}

.productos {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
}

.card img {
    width: 100%;
}

/* FOOTER */
.footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .productos {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }
}
